
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<frameset rows="104,*,30" frameborder="no">
    <frame src="Home/Top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame"/>
    <frameset cols="193,*"  border="0" framespacing="0" id="middenFram">
        <frame src="Home/Left" name="leftFrame" id="leftFrame" title="leftFrame"/>
        <frame src="Home/Right" scrolling="Yes" noresize="noresize" id="mainFrame" title="mainFrame"/>
    </frameset>
</frameset>
<noframes>
    <body></body>
</noframes>
</html>
