
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Right</title>
    <style type="text/css">
        html,body{
            margin:0px;
            font-family:Arial,sans-serif;
            font-size:12px;
            height:100%;
            padding:2px,4px,4px,0px;
            overflow:hidden;
        }
    </style>
</head>
<body>
    <div class="rightcont">Hello World!</div>
</body>
</html>
